In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv('Cleaned_responses_medianImputation.csv')
df

,time,sewer_and_water,power,roads_and_bridges,medical,buildings,shake_intensity,location
0,2020-04-08 17:50:00,10.0,6.0,10.0,3.0,8.0,1.0,1
1,2020-04-09 13:50:00,2.0,10.0,0.0,8.0,4.0,0.0,1
2,2020-04-09 00:20:00,7.0,10.0,10.0,9.0,10.0,0.0,1
3,2020-04-08 17:25:00,1.0,1.0,2.0,10.0,7.0,1.0,1
4,2020-04-08 02:50:00,9.0,7.0,1.0,6.0,9.0,1.0,1
...,...,...,...,...,...,...,...,...
83065,2020-04-10 02:30:00,9.0,10.0,10.0,5.0,7.0,2.0,8
83066,2020-04-10 02:30:00,8.0,10.0,10.0,5.0,7.0,1.0,8
83067,2020-04-09 16:45:00,10.0,9.0,10.0,5.0,8.0,1.0,8
83068,2020-04-09 16:55:00,8.0,8.0,9.0,5.0,7.0,0.0,8
83069,2020-04-10 02:30:00,9.0,10.0,10.0,5.0,6.0,-0.0,8

In [18]:
null_totals = df.isnull().sum(axis=0)
null_totals

time                 0
sewer_and_water      0
power                0
roads_and_bridges    0
medical              0
buildings            0
shake_intensity      0
location             0
dtype: int64

In [3]:
df.sort_values('time')

,time,sewer_and_water,power,roads_and_bridges,medical,buildings,shake_intensity,location
9945,2020-04-06 00:00:00,2.0,4.0,1.0,4.0,4.0,2.0,17
529,2020-04-06 00:00:00,2.0,8.0,5.0,4.0,3.0,0.0,2
4925,2020-04-06 00:00:00,9.0,7.0,5.0,5.0,4.0,2.0,8
2460,2020-04-06 00:00:00,10.0,2.0,9.0,6.0,10.0,5.0,4
8554,2020-04-06 00:00:00,6.0,2.0,9.0,6.0,4.0,1.0,15
...,...,...,...,...,...,...,...,...
3761,2020-04-11 00:00:00,7.0,7.0,8.0,10.0,10.0,1.0,6
1310,2020-04-11 00:00:00,5.0,2.0,2.0,4.0,8.0,2.0,2
8582,2020-04-11 00:00:00,5.0,1.0,3.0,6.0,2.0,2.0,15
7343,2020-04-11 00:00:00,4.0,9.0,7.0,4.0,7.0,3.0,13
1223,2020-04-11 00:00:00,7.0,1.0,8.0,4.0,1.0,0.0,2

In [5]:
# select rows that are from said day day
april_6 = df[df['time'].str.contains('2020-04-06')]
april_7 = df[df['time'].str.contains('2020-04-07')]
april_8 = df[df['time'].str.contains('2020-04-08')]
april_9 = df[df['time'].str.contains('2020-04-09')]
april_10 = df[df['time'].str.contains('2020-04-10')]
april_11 = df[df['time'].str.contains('2020-04-11')]

april_6 = april_6.reset_index()
april_7 = april_7.reset_index()
april_8 = april_8.reset_index()
april_9 = april_9.reset_index()
april_10 = april_10.reset_index()
april_11 = april_11.reset_index()

In [6]:
april_10

,index,time,sewer_and_water,power,roads_and_bridges,medical,buildings,shake_intensity,location
0,7,2020-04-10 11:00:00,5.0,0.0,4.0,10.0,8.0,1.0,1
1,8,2020-04-10 19:40:00,10.0,7.0,7.0,1.0,3.0,0.0,1
2,13,2020-04-10 15:05:00,1.0,7.0,5.0,10.0,5.0,1.0,1
3,17,2020-04-10 03:55:00,2.0,10.0,1.0,8.0,9.0,1.0,1
4,19,2020-04-10 08:25:00,3.0,6.0,8.0,10.0,3.0,1.0,1
...,...,...,...,...,...,...,...,...,...
7239,83061,2020-04-10 02:30:00,9.0,10.0,10.0,9.0,8.0,1.0,8
7240,83063,2020-04-10 02:30:00,9.0,9.0,9.0,5.0,5.0,1.0,8
7241,83065,2020-04-10 02:30:00,9.0,10.0,10.0,5.0,7.0,2.0,8
7242,83066,2020-04-10 02:30:00,8.0,10.0,10.0,5.0,7.0,1.0,8
7243,83069,2020-04-10 02:30:00,9.0,10.0,10.0,5.0,6.0,-0.0,8

In [7]:
april_11

,index,time,sewer_and_water,power,roads_and_bridges,medical,buildings,shake_intensity,location
0,1223,2020-04-11 00:00:00,7.0,1.0,8.0,4.0,1.0,0.0,2
1,1310,2020-04-11 00:00:00,5.0,2.0,2.0,4.0,8.0,2.0,2
2,3761,2020-04-11 00:00:00,7.0,7.0,8.0,10.0,10.0,1.0,6
3,7343,2020-04-11 00:00:00,4.0,9.0,7.0,4.0,7.0,3.0,13
4,8582,2020-04-11 00:00:00,5.0,1.0,3.0,6.0,2.0,2.0,15
5,10202,2020-04-11 00:00:00,5.0,9.0,6.0,4.0,2.0,0.0,18